<mat-card>
  <mat-card-title class="text-center">
    <p translate>Get Logged In</p>
  </mat-card-title>
  <mat-card-content class="mt-4 mb-2 px-3">
    <form (ngSubmit)="onSubmit()" [formGroup]="LoginForm">
      <div class="row">
        <mat-form-field class="col-12 mb-2" appearance="outline">
          <mat-label translate>Username</mat-label>
          <input
            translate
            required
            formControlName="username"
            matInput
            placeholder="Enter username"
          />
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error
            *ngIf="
              !LoginForm.get('username').hasError('required') &&
              LoginForm.get('username').errors
            "
          >
            <p translate>Enter a valid username</p>
          </mat-error>
          <mat-error *ngIf="LoginForm.get('username').hasError('required')">
            <p translate>Username is required</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-12 mb-2" appearance="outline">
          <mat-label translate>Password</mat-label>
          <input
            required
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Enter password"
          />
          <button
            (click)="hide = !hide"
            type="button"
            mat-icon-button
            matSuffix
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              !LoginForm.get('password').hasError('required') &&
              LoginForm.get('password').errors
            "
          >
            <p translate>should match the pattern</p>
          </mat-error>
          <mat-error *ngIf="LoginForm.get('password').hasError('required')">
            <p translate>Password is required</p>
          </mat-error>
        </mat-form-field>

        <p class="col-12 text-danger text-center" *ngIf="errors">
          {{ errors }}
        </p>

        <div class="col-12 mt-4">
          <button
            class="col-12"
            mat-raised-button
            color="primary"
            type="submit"
            (click)="UserRole = 'User'"
            [disabled]="LoginForm.invalid || loading"
          >
            <span translate>Login</span>
            <mat-spinner
              *ngIf="(UserRole == 'User' ? loading : !loading) && loading"
              class="d-inline pl-4"
              diameter="18"
              color="warn"
            ></mat-spinner>
          </button>

          <div class="col-12">
            <mat-divider class="my-3 position-relative"></mat-divider>
          </div>

          <button
            class="col-12"
            mat-raised-button
            color="primary"
            (click)="UserRole = 'Admin'"
            type="submit"
            [disabled]="LoginForm.invalid || loading"
          >
            <span translate>Admin Login</span>
            <mat-spinner
              *ngIf="(UserRole == 'Admin' ? loading : !loading) && loading"
              class="d-inline pl-4"
              diameter="18"
              color="warn"
            ></mat-spinner>
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
