<div class="row m-3">
  <div class="col-12">
    <h1 class="mat-h1 m-0 p-0" translate>Profile Details</h1>
    <mat-divider class="w-100 position-relative my-2"></mat-divider>
  </div>
  <div class="col-12 my-3">
    <div class="row py-3">
      <div class="col-4" translate>Username</div>
      <div class="col">{{ userData.userName | lowercase }}</div>
    </div>
    <div class="row py-3">
      <div class="col-4" translate>Mobile</div>
      <div class="col">{{ userData.phone }}</div>
    </div>
    <div class="row py-3">
      <div class="col-4" translate>First Name</div>
      <div class="col">{{ userData.firstName | titlecase }}</div>
    </div>
    <div class="row py-3">
      <div class="col-4" translate>Last Name</div>
      <div class="col">{{ userData.lastName | titlecase }}</div>
    </div>
    <div class="row py-3">
      <div class="col-4" translate>Email Id</div>
      <div class="col">{{ userData.email | lowercase }}</div>
    </div>
    <div class="row py-3">
      <div class="col-4" translate>Date of birth</div>
      <div class="col">{{ userData.dob | date: "d/M/yyyy" }}</div>
    </div>
  </div>
</div>
