<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar>Admin Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container">
        <div class="row justify-content-between">
          <p>VLM-Admin</p>
          <div>
            <button type="button" mat-icon-button (click)="onLogout()">
              Logout
              <mat-icon aria-label="Side nav toggle icon">exit_to_app</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
