<!-- <div class="row">
  <app-homeslider class="my-5 col-12"></app-homeslider>
</div> -->

<div class="container">
  <app-movies-slider class="row"></app-movies-slider>

  <app-movies-slider class="row" lang="English"></app-movies-slider>

  <app-movies-slider class="row" genre="Action"></app-movies-slider>

  <app-movies-slider class="row" genre="Thriller"></app-movies-slider>

  <app-movies-slider class="row" year="2018"></app-movies-slider>

  <app-movies-slider class="row" year="2020"></app-movies-slider>
</div>
